<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://13.214.43.159:3306/librarydb</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">admindbs</property>
    <mapping class="com.example.uas_pt.model.AuthorEntity"/>
    <mapping class="com.example.uas_pt.model.BookEntity"/>
    <mapping class="com.example.uas_pt.model.BookHasAuthorEntity"/>
    <mapping class="com.example.uas_pt.model.FavoriteEntity"/>
    <mapping class="com.example.uas_pt.model.GenreEntity"/>
    <mapping class="com.example.uas_pt.model.HistoryEntity"/>
    <mapping class="com.example.uas_pt.model.UserEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>